/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************************************************************** Start Main Styles */

body {
	background: #f3dcbd url(../images/bg_body2.jpg) top repeat-x;
	font: 100% Arial, Helvetica, sans-serif;
	color: #3f3f3f;
}

.skiplink {
	display: none;
}

a { color: #c15838; text-decoration: none; }
a:hover { color: #40364e; text-decoration: none; }
a:visited { color: #293685; }

strong { font-weight: bold; }
em { font-style: italic; }

#main_wrapper { background: url(../images/bg_wrapper.png) top repeat-x; }

#wrapper {
	width: 966px;
	margin: 0 auto;
}

#header {
	height: 75px;
	padding: 25px 0 0 0;
}

#search_wrapper {
	float: right;
	width: 283px;
	height: 56px;
	padding: 0 0 0 10px;
	background: url(../images/bg_search.png) top center no-repeat;
	margin-top: -20px;
	font-size: 0.7em;
}

.search_header { color: #fff; margin-bottom: 3px; }

.search_box {
	width: 240px;
	height: 17px;
	float: left;
	color: #a0a0a0;
	font-size: 0.9em;
}

.search_btn {
	background: url(../images/btn_search.png);
	width: 29px;
	height: 27px;
	float: left;
	text-indent: -9999px;
}

h1 {
	display: none;
}

h2 a {
	background: url(../images/logo_name.png) no-repeat top;
	display: block;
	height: 33px;
	width: 461px;
	text-indent: -9999px;
}

h3 {
	background: url(../images/logo_tagline.png) no-repeat top left;
	width: 462px;
	height: 13px;
	text-indent: -9999px;
	margin-top: 15px;
}

#main_nav {
	height: 41px;
	background: url(../images/nav_main2.png) top center no-repeat;
	margin-top: 8px;
}

#main_nav li { display: inline; }

#main_nav li a {
	float: left;
	height: 32px;
	text-align: center;
	color: #fff;
	font-size: 0.8em;
	text-decoration: none;
	padding-top: 12px;
	width: 115px;
}

#main_nav li a:hover { color: #87aa4c; }

/*#main_nav li a.home { width: 71px; }

#main_nav li a.company_finder { width: 143px; }

#main_nav li a.currencies { width: 116px; }

#main_nav li a.search_history { width: 159px; }

#main_nav li a.saved_searches { width: 150px; }

#main_nav li a.adv_search { width: 158px; }

#main_nav li a.select_lang { width: 139px; padding-right: 30px; }*/

#content_wrapper_top {
	background: url(../images/bg_content_top.png) no-repeat top;
	height: 8px;
	clear: left;
	margin-top: 10px;
}

#content_wrapper {
	background: url(../images/bg_content_mid.png) repeat-y;
	padding: 18px 24px 18px 24px;
	font-size: 0.9em;
}

#content_wrapper h4 {
	color: #1a1d1c;
	font-size: 1.3em;
	font-weight: bold;
}

#content_wrapper_bottom {
	background: url(../images/bg_content_bottom.png) no-repeat top;
	height: 10px;
}

.article {
	margin-right: 330px;
}

.article p {
	margin: 10px 0;
	line-height: 140%;
}

#profile_head {
	margin-bottom: 30px;
}

#profile_tools_wrap {
	float: right;
	width: 250px;
	text-align: center;
	font-size: 0.8em;
}

.clr_rt { clear: right; }

.jumpto {
	background: #ccc;
	margin: 0 0 20px 0;
	padding: 3px;
}

.content_sect_wrap { margin: 20px 0 40px 0; }

.content_sect_head {
	padding-bottom: 3px;
	border-bottom: 1px solid #ccc;
}

a.back_to_top {
	float: right;
	width: 100px;
	text-align: right;
	font-size: 0.8em;
}

.content_header { font-weight: bold; }

a.view_all { color: #3b3248; }

/**************************************************************** Start Right Column Styles */

#right_col {
	float: right;
	width: 250px;
}

.right_col_section {
	margin-bottom: 40px;
}

.right_col_header {
	border-bottom: 2px solid #dbdcdd;
	padding: 0 0 3px 0;
	color: #171c1b;
	font-weight: bold;
	margin-bottom: 1px;
	font-size: 0.9em;
}

.tools { background: url(../images/icons_right_col_tools.png) 0 0 no-repeat; }
.graphs { background: url(../images/icons_right_col_tools.png) 0 -180px no-repeat; }
.news { background: url(../images/icons_right_col_tools.png) 0 -200px no-repeat; }

.right_col_content {
	border-top: 1px solid #dbdcdd;
}

#right_col_tools { padding: 20px 0 0 0; }

#right_col_tools li { margin-bottom: 10px; }

#right_col_tools li a {
	padding: 0 0 0 24px;
	color: #c56345;
	text-decoration: none;
}

#right_col_tools li a:hover { color: #40364e; }

#right_col_tools li a.bookmark 	{ background: url(../images/icons_right_col_tools.png) 0 -20px no-repeat; }
#right_col_tools li a.download 	{ background: url(../images/icons_right_col_tools.png) 0 -40px no-repeat; }
#right_col_tools li a.share 	{ background: url(../images/icons_right_col_tools.png) 0 -60px no-repeat; }
#right_col_tools li a.citation 	{ background: url(../images/icons_right_col_tools.png) 0 -80px no-repeat; }
#right_col_tools li a.email 	{ background: url(../images/icons_right_col_tools.png) 0 -100px no-repeat; }
#right_col_tools li a.print 	{ background: url(../images/icons_right_col_tools.png) 0 -120px no-repeat; }
#right_col_tools li a.translate	{ background: url(../images/icons_right_col_tools.png) 0 -140px no-repeat; }
#right_col_tools li a.save		{ background: url(../images/icons_right_col_tools.png) 0 -160px no-repeat; }

#related_graphs li, #related_news li {
	list-style: outside disc;
	margin: 10px 0 10px 17px;
}

/**************************************************************** Start Footer Styles */

#footer {
	padding: 20px;
	font-size: 0.8em;
	height: 40px;
}

#cengage_logo {
	background:url(../images/logo_cengage.png) top left no-repeat;
	height: 40px;
	width: 129px;
	float: right;
	text-indent: -9999px;
}

#footer ul {
	padding-top: 10px;
}

#footer li { display: inline; }

#footer li a {
	float: left;
	margin-right: 20px;
	color: #40364e;
	text-decoration: none;
}

#footer li a:hover {
	color: #87aa4c;
}

/**************************************************************** Start Key Information Styles */

.key_info_wrap {
	width: 270px;
	font-size: 0.9em;
}

.key_info_head {
	color: #373533;
	border-bottom: 1px solid #cfc1b1;
	padding-bottom: 2px;
	font-weight: bold;
}

.fact_head {
	color: #9d9c9c;
	width: 160px;
	padding: 2px 0;
}

.fact_info {
	width: 130px;
}

.fact_icon {
	width: 16px;
	padding: 2px 0;
}

a.icon {
	float: left;
	width: 16px;
	height: 16px;
	display: block;
	text-indent: -9999px;
}

a.chart {
	background: url(../images/icons.png) 0 0 no-repeat;
}

a:hover.chart {
	background: url(../images/icons.png) 0 -16px no-repeat;
}

/**************************************************************** Start Search Results Styles */

#results_limit_wrap {
	float: left;
	width: 150px;
	font-size: 0.8em;
}

.limit_sect_head {
	border-bottom: 1px solid #ccc;
	font-weight: bolder;
	padding: 0 0 3px 0;
	margin: 0 0 5px 0;
}

.limit_head {
	font-weight: bold;
	margin: 10px 0;
	color: #666;
}

.search_within {
	width: 120px;
	margin-bottom: 20px;
}

.results {
	margin-left: 170px;
}

/*.profile_wrap {
	padding-bottom: 20px;
	margin-bottom: 20px;
}*/

.result_profile_head {
	font-size: 1.2em;
}

.key_info_results {
	float: right;
	margin: 0 0 10px 10px;
}

.content_type_list {
	width: 430px;
}

.content_type_list li {
	float: left;
	display: inline;
	width: 140px;
}

.compare_wrap {
	margin: 20px 0 0 0;
}

.compare_head {
	font-weight: bold;
}

.overview_head {
	font-size: 0.8em;
	color: #666;
}

.results_sect_head {
	font-weight: bold;
	margin-bottom: 10px;
}

.clr_lt { clear: left; }
.clr_rt { clear: right; }

/*********************************************************************** Start Table Compare styles */

.compare_export li {display: inline;}

.compare_export li a {
	float: right;
	width: 60px;
	font-size: 0.8em;
}

#compare_view li a {
	display: block;
	float: left;
	width: 200px;
	height: 26px;
	background: url(../images/btn_compare.png) 0 0 no-repeat;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 6px;
	color: #fff;
}

#compare_view li a:hover {
	background: url(../images/btn_compare.png) 0 -32px no-repeat;
}

#compare_view li a.active {
	background: none;
	color: #c15838;
}

#compare_table {
	clear: left;
	margin-top: 12px;
}

#compare_table thead {
	border-bottom: 1px solid #cfc1b1;
}

#compare_table td {
	padding: 8px;
}

.row_label {
	width: 150px;
}

.col_header {
	font-weight: bold;
	width: 80px;
}

.row_alt {
	background: #e9e0d5;
}

.select_to_chart_wrap {
	height: 20px;
	font-size: 0.7em;
}

#additional_chart_wrap {
	float: right;
	width: 150px;
}

.selection_options li {display: inline;}

.selection_options li a {
	float: left;
	width: 75px;
	text-align: center;
}

.add_list {
	height: 290px;
	overflow: scroll;
	clear: left;
}

.add_search {
	width: 125px;
	margin: 10px 0;
}

.related_content_wrap {
	clear: right;
}

.content_source {
	font-size: 0.8em;
	font-style: italic;
	color: #666;
}

.content_desc {
	margin-bottom: 20px;
}

.key_info_overview {
	float: left;
	margin: 0 20px 10px 0;
}

/************************************************************* Start Overview Styles */

.overview_label {
	font-weight: bold;
	margin: 14px 0 2px 0;
}