<script id="search-template" type="text/html">
  <div id="search-<%= type %>">
    <input type="text" placeholder="<%= placeholder %>" />
  </div>
</script>

<script id="nav-template" type="text/html">
  <li><a href="<%= link %>"><%= name %></a></li>
</script>

<script id="home-template" type="text/html">
  
</script>

<script id="country-template" type="text/html">
  <article class="country-overview">
    <h3><%= name %></h3>
    <p class="type">Country Overview</p>
    <% _.each(content.split("\n"), function(paragraph) { %>
      <p><%= paragraph %></p>
    <% }); %>
  </article>
</script>